@{
    ViewData["Title"] = "About";
}

<section class="entry-content">
	<h1 class="entry-title">Over ons</h1>
	<h2 class="entry-title">Websites, SEO & Software Engineering</h2>
</section>


<section class="sub_intro_header">
	<div class="parallax-seo Aligner wow fadeInUp" style="background-image:url(http://www.rickspanjers.nl/wp-content/uploads/2017/04/over_ons_banner.png)">
		<div class="wrap">
			<div class="Aligner-item Aligner-item--top"></div>
			<div class="Aligner-item">
				<h2 class="parallax-heading">Wij helpen onze klanten.</h2>
				<p class="parallax-paragraph">Sinds 2014 werkt SpanDev elke dag met veel plezier om klanten te helpen met een perfecte website en optimale vindbaarheid. Met een sterk aantal websites en klanten hebben we inmiddels een goed portfolio opgebouwd. Zoek je een nieuwe website? Kom snel naar SpanDev</p>
			</div>
			<div class="Aligner-item Aligner-item--bottom"></div>
		</div>
	</div>
</section>

<section class="sub_content">
	<div class="container">
		<div class="content">
			<h2>Waarom</h2>
			<p>Omdat wij iedereen een goede website willen leveren. Omdat wij geloven dat jij net zoals de bedrijven om je heen een mooie website kan hebben. Wij geloven dat iedereen op het internet die wil, iets sterks kan neerzetten. Daarom willen wij helpen. Beter dan&nbsp;iedereen om ons heen.</p>
			<h2>Hoe</h2>
			<p>Door onze klanten te helpen met het verbeteren van de zichtbaarheid, vindbaarheid en bereikbaarheid van hun website&nbsp;op Internet. Wij zorgen ervoor dat jouw website&nbsp;professioneel en sterk is op het internet, goed gevonden wordt door je doelgroep en dat jij de middelen hebt om je bezoekers om te zetten in klanten.</p>
			<h2>Wat</h2>
			<p>Wij bouwen prachtige doelgerichte websites tegen goedkope prijzen, wij verzorgen effectieve zoekmachine optimalisatie waarmee jij jouw doelgroep bereikt. Ook kunnen wij teksten voor je schrijven, herschrijven en verbeteren. Hiernaast bouwen wij ook uitgebreide applicaties en doelgerichte software naar wens van de klant.</p>
			<h2>Waarmee</h2>
			<p>Om dit voor je waar te kunnen maken, gebruiken we een heleboel tools en software. Hierbij een kort overzicht van de programma’s&nbsp;die wij gebruiken:</p>
			<ul>
				<li>PHPStorm / Visual Studio – Om ingewikkeld programmeerwerk mee te maken</li>
				<li>WordPress / Joomla of ons zelf gebouwde CMS/li>
				<li>TeamViewer – Om jou op afstand te helpen met instellingen op je pc</li>
				<li>Google Adwords – Om gerichte advertenties in Google te plaatsen</li>
				<li>SEO- Om jouw dagelijkse posities in Google te monitoren</li>
				<li>Google Apps – Voor mail, documenten, opslag en (online) samenwerken</li>
				<li>Google Analytics – Om jouw bezoekersstatistieken in de gaten te houden</li>
			</ul>
			<h2>Wanneer</h2>
			<p>In 2014 is SpanDev gestart vanuit een kleine kamer met 1 computer, een snelle internetverbinding en het doel om een succesvol bedrijf te worden.</p>
			<h2>Waar</h2>
			<p>Heel nederland!</p>
			<p>
				Telefoon: 06-1234567<br>
				E-mail: Info@Spandev.nl
			</p>
		</div>
	</div>
</section>