
@{
	ViewData["Title"] = "Whatwedo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="entry-content">
	<h1 class="entry-title">Wat we doen</h1>
	<h2 class="entry-title">Onze werkwijze van begin tot eind</h2>
</section>


<section class="sub_intro_header">
	<div class="parallax-seo Aligner wow fadeInUp" style="background-image:url(http://www.rickspanjers.nl/wp-content/uploads/2017/04/wat_we_doen_banner.png)">
		<div class="wrap">
			<div class="Aligner-item Aligner-item--top"></div>
			<div class="Aligner-item">
				<h2 class="parallax-heading">We hebben een vaste manier van werken</h2>
				<p class="parallax-paragraph">Uiteraard kunnen we de website alleen samen met jou realiseren. Daarom gaan we na het eerste gesprek een informatie proces in waar je ons kunt vertellen hoe de website moet worden en wat je visie is. Met de informatie die jij ons stuurt gaan we vervolgens aan de slag om een perfecte website te bouwen.</p>
			</div>
			<div class="Aligner-item Aligner-item--bottom"></div>
		</div>
	</div>
</section>

<section class="sub_content">
	<div class="container">
		<div class="content">
			<h2>De manier waarop wij te werk gaan.</h2>
			<p>Wij verzorgen&nbsp;je complete website van&nbsp;begin tot eind. Het enige dat we van je nodig hebben om de website te bouwen zijn de teksten om de pagina’s mee te vullen en een goed logo om de juiste kleuren in te kunnen stellen. Heb je geen tijd om zelf teksten te schrijven? Dan zouden wij dat ook nog kunnen doen!</p>
			<h3>Stap 1: Aanleveren van je logo, teksten en eventuele huisstijl.</h3>
			<p>Nadat je akkoord bent gegaan met een voorstel, ontvang je een instructie e-mail waarin de verwachtingen staan die wij stellen. &nbsp;Daarnaast vragen we in het document naar je Social Media pagina’s, zodat we je website meteen kunnen linken aan je Facebook en Twitter. We leggen precies uit hoe je je logo en fotomateriaal kan aanleveren. Heb je geen foto’s? Geen probleem, dan verzorgen wij professioneel fotomateriaal.</p>
			<h3>Stap 2: Wij bouwen een eerste versie</h3>
			<p>Nadat je je teksten hebt aangeleverd nemen we telefonisch contact met je op om het gewenste design met je te bespreken. Samen met ons neem je de designmogelijkheden door en bepaal je samen welk design je nieuwe website gaat krijgen. Daarbij kan je aangeven wat voor soort foto’s en kleuren je in de website wilt terugzien. Met de teksten, het logo en fotomateriaal en jouw input gaan we vervolgens aan de slag om de website exact te bouwen zoals je voor ogen hebt.</p>
			<h3>Stap 3: Evaluatie en controleronde</h3>
			<p>Uiteraard wil je de website eerst goedkeuren voordat we hem voor je online zetten. Daarom ontvang je tegen deze tijd een preview van je nieuwe website. Deze preview is een volledig werkende versie van je website. Je kan hiermee het complete design, de structuur&nbsp;en werking van de functionaliteiten testen.</p>
			<h3>Stap 4: Live-gang definitieve website</h3>
			<p>Nadat we eventuele correcties hebben doorgevoerd en je hebt aangegeven 100% tevreden te zijn over het resultaat zetten we de website online. Hierbij koppelen we jouw domeinnaam aan de nieuwe website en stellen we indien nodig e-mailadressen voor je in.</p>
			<h3>Na Live-gang</h3>
			<p>Nadat je website online is gezet ontvang je van ons je&nbsp;log-in gegevens voor het CMS. Hiermee kan je vanaf elke PC op je website inloggen en de inhoud aanpassen. Ook sturen we je een makkelijke handleiding.</p>
		</div>
	</div>
</section>